.env

# Miscellaneous
*.class
*.pyc
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
Thumbs.db

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

android/.gradle
android/app/build/

# iOS related
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/GeneratedPluginRegistrant.*
ios/Flutter/podhelper.rb
ios/Pods/
ios/Runner.xcworkspace/xcuserdata/
ios/build/

# macOS related
macos/Pods/
macos/Flutter/ephemeral/

# Linux related
linux/flutter/ephemeral/

# Windows related
windows/flutter/ephemeral/

# Temporary files
*.lock
*.bak
*.tmp

# Other generally excluded files
.DS_Store